.app-container {
  background-color: black;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 750px;
  width: 750px;

  position: relative;
  top: -10%;
  margin: 0;
  padding: 0;
}

.password-container {
  position: relative;
  top: -20%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.password {
  height: 50px;
  width: 600px;
  font-size: 1rem;

  background: black;
  border-bottom: 1px solid #DCCA87;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #FFFFFF;
  text-align: center;
}

.password:focus {
  outline: none;
}

.password::placeholder {
  text-align: center;
}

.error-message {
  color: white;
  text-align: center;
  margin-top: 5px;
}

.button {
  /* background-color: #F5EFDB;
  color: #0C0C0C; */
  background-color: black;
  color: #F5EFDB;
  border: 1px solid #F5EFDB;

  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .password {
    width: 250px;
  }

  .button {
    width: 250px;
  }

  .logo {
    height: 600px;
    width: 600px;
  }
}